.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    margin-bottom: 20px;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  mat-form-field {
    margin-bottom: 20px;
  }
  
  button {
    align-self: flex-end;
    margin-top: 20px;
  }
  
  mat-error {
    color: red;
    font-size: 14px;
  }